<!-- Erina's Code -->
<div class="dashboard container px-5 py-5">
  <h1>Hi <%= @user.first_name %>!</h1>

  <!-- My Listings Section -->
  <div class="my-listings mt-5">
    <div class="section-title mb-5">
      <h2 class="card-title">My Listings</h2>
      <%= link_to '+ Create a new listing', new_cat_path, class: 'btn btn-primary' %>
    </div>
    <!-- Cats cards -->
    <div class="row row-gap-4">
      <% if @recent_cats.any? %>
        <% @recent_cats.each do |cat| %>
          <!-- Card for each cat listing -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <%= link_to cat_path(cat) do %>
                <% if cat.photo.attached? %>
                  <div class="card-img-top">
                    <%= cl_image_tag cat.photo.key, alt: cat.name %>
                  </div>
                <% else %>
                  <div class="card-img-top">
                    <%= image_tag "cat-test.jpeg", alt: "Default Image" %>
                  </div>
                <% end %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= cat.name %></h5>
                <p class="card-text description"><%= cat.description %></p>
                <p class="card-text price">Price per day: <%= number_to_currency(cat.price_per_day, unit: "$") %></p>
                <%= link_to 'View Details', cat_path(cat) %>
                <%= link_to 'Edit', edit_cat_path(cat), class: "ps-3" %>
                <%= link_to 'Delete', cat_path(cat), class: "ps-3", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                <!-- Display booking requests for the cat -->
                <% cat.bookings.pending.each do |booking| %>
                  <div class="booking-request mt-3">
                    <p><%= "#{booking.user.first_name} #{booking.user.last_name}" %> is requesting to rent <%= cat.name %>.</p>
                    <!-- Form for accepting and declining -->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <%= form_with(model: [cat, booking], url: accept_booking_path(cat, booking), method: :patch, local: true, class: 'mr-2') do |form| %>
                        <%= form.hidden_field :status, value: 'accepted' %>
                        <%= form.submit 'Accept', class: 'btn btn-success' %>
                      <% end %>
                      <%= form_with(model: [cat, booking], url: decline_booking_path(cat, booking), method: :patch, local: true) do |form| %>
                        <%= form.hidden_field :status, value: 'declined' %>
                        <%= form.submit 'Decline', class: 'btn btn-danger' %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No recent cats.</p>
      <% end %>
    </div>
  </div>

  <!-- Reserved Cats Section -->
  <div class="reserved-cats mt-5">
    <div class="section-title mb-5">
      <h2 class="card-title">My Reserved Cats</h2>
    </div>
    <!-- Display all reservations for the user -->
    <div class="row row-gap-4">
      <% @user.bookings.each do |booking| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <%= link_to cat_path(booking.cat) do %>
              <%= image_tag "cat-test.jpeg", class: "card-img-top", alt: "Reserved Cat" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= booking.cat.name %></h5>
              <% if booking.status.present? %>
                <% case booking.status %>
                  <% when booking.status['pending'] %>
                    <p class="card-text">Your booking is pending.</p>
                  <% when booking.status['accepted'] %>
                    <p class="card-text">Your booking is confirmed.</p>
                  <% when booking.status['declined'] %>
                    <p class="card-text">Your booking was declined.</p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
