<div class="container mt-5">
  <h1 class="mb-4">Dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Information</h5>
          <p class="card-text">
            <h1>Hi <%= @user.first_name %> <%= @user.last_name %></h1>

          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Listings</h5>
          <% if @recent_cats.any? %>
            <ul>
              <% @recent_cats.each do |cat| %>
                <li>
                  <strong>Name:</strong> <%= cat.name %><br>
                  <strong>Description:</strong> <%= cat.description %><br>
                  <strong>Age:</strong> <%= cat.age %> years<br>
                  <strong>Price per Day:</strong> $<%= cat.price_per_day %><br>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No recent cats.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
