<!-- Erina's Code -->
<div class="container px-5 py-5">
  <h1>Hi <%= @user.first_name %>!</h1>
  <div class="my-listings mt-5">
    <div class="section-title mb-5">
      <h2 class="card-title">My Listings</h2>
      <%= link_to '+ Create a new listing', new_cat_path, class: 'btn btn-primary mx-5' %>
    </div>
    <!-- Cats cards -->
    <div class="row">
      <% if @recent_cats.any? %>
        <% @recent_cats.each do |cat| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <%= link_to cat_path(cat) do %>
                <%= image_tag "cat-test.jpeg", class: "card-img-top", alt: "Ruth the cat" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= cat.name %></h5>
                <p class="card-text"><%= cat.description %></p>
                <p class="card-text">Price per day: <%= number_to_currency(cat.price_per_day, unit: "$") %></p>
                <%= link_to 'View Details', cat_path(cat) %>
                <%= link_to 'Edit', edit_cat_path(cat) %>
                <!-- Display booking requests for the cat -->
                <% cat.bookings.pending.each do |booking| %>
                  <div class="booking-request mt-3">
                    <p><%= "#{booking.user.first_name} #{booking.user.last_name}" %> is requesting to rent <%= cat.name %>.</p>
                    <!-- Form for accepting and declining -->
                    <%= form_with(model: [cat, booking], url: accept_booking_path(cat, booking), method: :patch, local: true) do |form| %>
                      <%= form.hidden_field :status, value: 'accepted' %>
                      <%= form.submit 'Accept', class: 'btn btn-success mr-2' %>
                      <% end %>
                    <%= form_with(model: [cat, booking], url: decline_booking_path(cat, booking), method: :patch, local: true) do |form| %>
                      <%= form.hidden_field :status, value: 'declined' %>
                      <%= form.submit 'Decline', class: 'btn btn-danger' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No recent cats.</p>
      <% end %>
    </div>
  </div>
</div>
