<div class="cat-card">
    <!-- Header image -->
    <%= link_to cat_path(@cat) do %>
      <% if @cat.photo.attached? %>
        <div class="hero">
          <%= cl_image_tag @cat.photo.key, alt: @cat.name %>
        </div>
      <% else %>
        <div class="hero">
          <%= image_tag "cat-test.jpeg", alt: "Default Image" %>
        </div>
      <% end %>
    <% end %>
    <!-- Text content -->
    <div class="description">
      <h2><%= @cat.name %></h2>
      <h4 class="price"><%= number_to_currency(@cat.price_per_day, unit: "$") %>/day</h4>
      <div class="about">
        <p>I am <%= @cat.age %> years old</p>
        <p>...and I am <%= @cat.description %></p>
      </div>
      <%= link_to 'Back to Cats', root_path, class: 'btn btn-secondary mt-3' %>
    </div>
</div>
