<div class="container my-5 text-center">
  <div class="card rounded">
    <div class="card-body">
      <%= link_to cat_path(@cat) do %>
        <% if @cat.photo.attached? %>
  <%= cl_image_tag @cat.photo.key, class: "card-img-top", alt: @cat.name %>
<% else %>
  <%= image_tag "cat-test.jpeg", class: "card-img-top", alt: "Default Image" %>
<% end %>
      <% end %>
      <h2 class="card-title mt-3"><%= @cat.name %></h2>
      <p class="card-text">Description: <%= @cat.description %></p>
      <p class="card-text">Age: <%= @cat.age %> years</p>
      <p class="card-text">Price per day: <%= number_to_currency(@cat.price_per_day, unit: "AUD") %></p>
      <%= link_to 'Back to Cats', root_path, class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
  <div class="reviews-container">
  <h2>Reviews (<%= @reviews&.count || 0 %>)</h2>
  <%= link_to "Write a Review", new_cat_review_path(@cat), class: "btn btn-primary" %>
</div>
  <div class="reviews">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class="review">
          <% if review.user.present? %>
            <p><strong><%= review.user.first_name %></strong></p>
          <% else %>
            <p><strong>User not found</strong></p>
          <% end %>
            <p><strong>
              <% review.rating.to_i.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          </strong></p>
          <p><%= review.content %></p>
        </div>
      <% end %>
    <% else %>
      <p>No reviews available.</p>
    <% end %>
  </div>
</div>
