<!DOCTYPE html>
<html>
  <head>
    <title>CatngoApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Header -->
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top"> <!-- Fixed nav bar to the top -->
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">
          🐈 Cat n Go
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="<%= root_path %>">Cats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
              <li class="nav-item dropdown">
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="<%= dashboard_path %>">My dashboard</a>
                  <%= link_to "Sign Out", destroy_user_session_path, class:"dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <!-- Footer -->
    <footer>
      <span>© 2024 Cat n Go, Inc</span>
    </footer>
  </body>
</html>
